$white: rgba(239, 239, 239, 1);
$black: rgba(51, 51, 51, 1);
$display-color: $white;
$increment-color: rgba(26, 188, 156, 1);
$decrement-color: rgba(255, 174, 35, 1);
$reset-color: rgba(246, 34, 63, 1);
$background-color: rgba(255, 122, 35, 1);

$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
0 1px 2px rgba(0, 0, 0, 0.24);
$box-shadow-hover: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
$text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
$border-radius: 5px;

@function multiple-text-shadow ($n, $color) {
    $value: '2px 2px 0 #{$color}';
    @for $i from 2 through $n {
        $value: '#{$value} , #{$i}px #{$i}px  0 ' + lighten($color, ($i * 0.2));
    }
    @return unquote($value);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    background: $background-color;
}


#counter-app {
    height: 50%;
    width: 300px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    display: flex;
    flex-flow: column;
    justify-content: center;

    text-align: center;

    padding: 1em;

    border-radius: $border-radius;

    #display {
        $len: 150px;
        height: $len;
        width: $len;

        color: $black;

        margin: auto;

        font-size: calc(#{$len} / 1.5);
        line-height: $len;

        border-radius: $border-radius;

        box-shadow: $box-shadow-hover;

        background: $display-color;
    }

    .container {
        padding: 1em;
    }

    #increment-button {
        background: $increment-color;
        text-shadow: multiple-text-shadow(75, darken($increment-color, 10%));
    }

    #decrement-button {
        background: $decrement-color;
        text-shadow: multiple-text-shadow(75, darken($decrement-color, 10%));
    }

    #reset-button {
        background: $reset-color;
        text-shadow: multiple-text-shadow(75, darken($reset-color, 10%));
    }

    .button {
        width: 50px;
        height: 50px;

        position: relative;

        z-index: 100;

        margin: 0 5px;

        overflow: hidden;

        line-height: 50px;
        font-size: 30px;

        cursor: pointer;

        color: $white;

        box-shadow: $box-shadow;

        border-radius: $border-radius;
        border: none;

        transition: $transition;
        &:hover {
            box-shadow: $box-shadow-hover;
        }
    }
}