.container{
    width: 150px;
    border: 1px solid #BDBDBD;
    text-align: center;
    position: relative;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;

    .span{
        &:hover{
            background-color: #eee;
        }
        position: absolute;
        font-size: 20px;
        cursor:pointer;
        display: inline-block;
        width: 40px;
    }

    .l{

        left: 0;
        border-right: 1px solid #BDBDBD;
    }

    .r{
        right: 0;
        border-left: 1px solid #BDBDBD;
    }
}